body{
	font-family: 'Montserrat', sans-serif;
}

header{
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.logo_principal{
	width: 200px;
	height: 200px
}

nav{
	position: absolute;
	top: 100px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	transition: 0.5s
}

/*pseudo classe*/
nav a:hover{
	color: yellow;
	text-decoration: underline;
}

.img-produtos{
	width: 200px;
	height: 200px;
}

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid black;
			/*width style color*/

	/*border-radius: 10px;*/
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	
	/**border-color: black;
	border-width: 2px;
	border-style: solid;*/
	transition: 0.5s
}

.produtos li:hover{
	border-color: yellow;
}

.produtos li:active{
	border-color: pink;
}

/* quando o li dentro da classe produtos receber hover, altera o h2 dentro do li*/
.produtos li:hover h2{
	font-size: 35px;
}


.produtos h2{
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
}

.produto-desc{
	font-size: 18px;
	padding-top: 50px;
}

.produto-preco{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin: 40px 0;

}

form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.radio-check{
	display: inline-block;
	width: 13px;
	margin: 0 5px;
}

form input, form textarea{
	display: block;
	margin: 0 0 14px 0;
	padding: 10px 15px;
	width: 30%;
	resize: none;
} 

.atendimento{
	margin: 20px 0 0 0;

}

#lb-news{
	margin: 20px 0;
}

.enviar{
	width: 20%;
	border: none;
	border-radius: 5px;
	background: cadetblue;
	color: white;
	padding: 15px 0;
	font-size: 18px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
}

.enviar:hover{
	background: aqua;
	color: black;
	transform: scale(1.05);
}

table{
	margin: 20px 0 40px;
}

thead{
	background: rgb(122,122,134);
	background: linear-gradient(90deg, rgba(122,122,134,1) 0%, rgba(95,158,160,1) 100%);
	/*https://cssgradient.io/*/
	color: white;
	font-weight: bold;
}

td, th{
	border: 1px solid black;
	padding: 8px 15px;
}

footer {
	position: relative;
	height: 125px;
	width: 100%;
	/*text-align: center;*/
	background: url("bg-footer.jpg");
	padding: 13px 0;
	text-align: center;
	
}

footer p {
	/*text-align: center;*/
	padding: 20px 0 0 0;
	font-weight: bold;
	font-size: 13px;
	color: #000000;
}

.logo-footer {
	width: 100px;
	height: 100px;
}


/* css da home page */
.banner{
	width: 100%;
}

.utensilios{
	width: 120px;
	float: left; /*faz o elemento flutuar na página.*/
	margin: 0 20px 20px 0;
}

.titulo-principal {
	text-align: center;
	font-size:  2em;
	margin: 0 0 1em;
	clear: left; /*limpar o comportamento do float*/
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.img-beneficios{
	width: 60%;
}